.intro {
    font-family: arial,sans-serif;
    font-size: 16px;
    color: black;    
    text-align: center;
}

.head {
    font-family: arial,sans-serif;
    font-size: 24px;
    color: black; 
    text-align: center;
}
